@font-face {
    font-family: 'Norse Bold';
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

/* body {
    font-family: 'Norse Bold';
} */

img {
    width: 33vw;
    height: 100vh;
}

.container {
    display: flex;
}